.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .content {
    overflow: auto;
    overflow-x: hidden;
    max-height: 300px;

    .prompt {
      color: white;
      background-color: #10304b;
      margin-bottom: 5px;
      padding: 15px;
      border-radius: 8px;
      width: 700px;
      min-height: 40px;
      cursor: pointer;
    }
  }
  .result {
    font-size: 20px;
    font-weight: bold;
  }
}
