.header {
  background-color: #10304b;
  padding: 10px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.menu {
  display: flex;
  gap: 20px;
  .headerItem {
    cursor: pointer;
  }
}

.icon {
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.2);
  }
}
